In [2]:
import pandas as pd
import numpy as np

## Tipos de datos

- Enteros (int): Representan numeros enteros. Ej 'edad = 25'
- Flotantes (float): Representan numeros con decimales. Ej 'peso = 57.5'
- Cadenas (strg): Representan texto. Ej 'nombre = pedro'

In [3]:
edad = 25

In [3]:
type(edad)

int

In [9]:
peso = 57.5

In [10]:
type(peso)

float

In [11]:
nombre = "pedro"

In [8]:
type(nombre)

str

## Tipos de datos estructurados

- Listas: Coleccion ordenada y modificable. Ejemplo: 'nombres: = ["Juan", "Pedro", "Ana"]
- Tuplas: Coleccion ordenada e inmutable. Ejemplo: 'coordenadas ='(10, 20)'
- Diccionarios: Coleccion desordenada de pares clave-valor. Ejemplo: 'persona = {"nombre": "Carlos", "edad": 30}'

In [5]:
nombre = ["Juan", "Pedro", "Ana"]
type(nombre)
nombre.append("Joao")
nombre

['Juan', 'Pedro', 'Ana', 'Joao']

In [23]:
nombre[0]

'Juan'

In [24]:
type(nombre)

list

In [10]:
coordenadas = (10, 20)

In [9]:
type(coordenadas)

list

## Crear un DataFrame a partir de un diccionario

In [ ]:
# Creo diccionario
datos_personas = [
    {"nombre": "matias", "edad": 26, "profesion": "economista"},
    {"nombre": "gabriel", "edad": 25, "profesion": "cocinero"}
]

# Creo el DataFrame a partir del diccionario
df_personas = pd.DataFrame(datos_personas)

# Muestro el DataFrame
df_personas

    nombre  edad   profesion
0   matias    26  economista
1  gabriel    24    cocinero

## Datos Booleanos

In [31]:
dummy_sexo = True

In [32]:
type(dummy_sexo)

bool

## Libreria NumPy para Datos Numericos

In [34]:
edades = np.array([22, 25, 30])

In [35]:
np.mean(edades)

np.float64(25.666666666666668)

## Ejercicios practicos

### 1er Ejercicio - Listas

In [11]:
# Creo una lista
clubes = ["River", "Talleres de Cordoba", "Godoy Cruz"]
clubes.append("Belgrano")
print("Los equipos seleccionados son:", clubes)

Los equipos seleccionados son: ['River', 'Talleres de Cordoba', 'Godoy Cruz', 'Belgrano']

In [42]:
# Elimino el segundo de la lista
clubes.pop(1)

'Talleres de Cordoba'

In [12]:
clubes

['River', 'Talleres de Cordoba', 'Godoy Cruz', 'Belgrano']

In [45]:
## Funciones utiles de un diccionario:
perfil = {
    "nombre": "matias",
    "edad": 26,
    "profesion": "economista",
    
}

print("Profesion:", perfil["profesion"])

Profesion: economista